/** Nơi viết/include các css riêng **/
@import "custom/_variables.scss";
*{
	margin:0px;
	padding:0px;
}
.title-leftfoot{font-size:30px;}
.title{font-size:36px;color:white}
.sub-title{color:white;font-size:14px;}
.bot{

	font-weight: 400;
    .sub-title{
    	color: $gray;
    }
    .left{
    }
}
.social{
	& a{
		padding: 6px 13px;
		text-decoration:none;
		display:block;
		color: $hover;
		border-left: 1px solid $border;
		float: left;
		&:hover{color: $hover;}
		&:last-child{border-right: 1px solid $border;}
	}

	& .navbar{padding:0px;}
}
.small-top{border-bottom: 1px solid $border;background-color:black;}
.bot{background-color:$bg1;}
.admin{
	line-height:5rem;
	float:right;
	& a{padding-right: 20px;text-decoration:none;display:block;color:white;
		&:last-child{padding-right: 0em;}
		&:hover{color:$hover;}
	}
	& li{
		padding-right: 0.5em;
		&:last-child{padding-right: 0em;}
	}
	.nav-item{position: relative;}
	.new{
		width:10px;
		height:10px;
		background-color:red;
		position: absolute;
		border-color:$border;
		border:1px solid;
		top:0px;
		left: 10px;
		z-index:1; 
	}
}

.nav-link{
	font-weight: bold;
}

#menu ul li{
	.active{border-bottom: 2px solid $hover;}
	&:hover{border-bottom: 2px solid $hover;}
}
.navbar-light .navbar-nav .nav-link{
	&:hover{color:black;}
	color:black;
}

#search{
	position: relative;
	&:hover input{width:100%;}
	input{
		width:0px;
		background-color:$bg2;
		transition: width 0.5s;
		transition-timing-function:ease-in 2s;
		float: right;
	}
	button{
		position: absolute;
		right: 0px;
		top:0px;
		z-index: 1;
	}
	.btn-search{background-color:$hover;color:white;}
}

.leftmain{
	a{
		font-size:16px;
		font-weight: 500;
    	line-height: 23px;
    	color:$bg1;
	}
	& .card-img-overlay{
		top:-10px;
		height: 20%;
	}
	.card-text{
		color: $hover;
		font-weight: 600;
		font-size:14px;
		font-style: italic;
	}
}
.rigthmain{
	position: relative;
	.carousel-indicators{
		position: absolute;
		bottom:0px;
		li{
			border:1px solid black;
			&.active{background-color:black;}
		}
	}
	.titlecarousel{
		a{
			color:$bg1;
		}
	}
}
.footer{
	.leftfoot .title-leftfoot{
		color: $title;
		font-weight: 400;
		font-family: 'Montserrat', sans-serif;
		font-size:1.75rem;
	}
	
	a{
		font-size:17px;
		color:$bg1;
		font-weight: 500;
		line-height:23px;
	}
	.card-text{
		color: $hover;
		font-weight: 400;
		font-size:14px;
		font-style: italic;
	}
	
}
#menu2{
	.active{
		a{
			color:black;
			border-bottom: 2px solid red;
		}
	}
	& a{color:$bg2;
		font-weight:none;
		&:hover{
			border-bottom: 2px solid red;
			color:black;
		}
	}
}
.media{
	.media-body{
		a{
			font-size:17px;
			font-weight: 500;
		}
	}
	.time{
		color:$bg2;
	}
}