/** File để custom các biến của bootstrap, xem file bs4/_variables.scss **/
//Color
$gray:  #c0c0c0;
$hover: #ca1b1b;
$border:#2b2b2b;
$bg1:#141517;
$bg2:#d0d0d0;
$title:#222;
$btn-search:#FD3A13;
$underline:#007bff;

//Size

